{% extends "webpart/base/blankBase.html" %}

{% block title %}控制台首页{% endblock %}

{% block head %}
{% endblock %}

{% block pageHeader %}
    <div class="col-sm-4">
        <h2>AMDO</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">主页</a>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="#" class="btn btn-primary">活动区域</a>
        </div>
    </div>
{% endblock %}

{% block pageContent %}
    <div class="col-sm-12">
        <div class="middle-box text-center animated fadeInRightBig">
            <h3 class="font-bold">这里是页面内容</h3>

            <div class="error-desc">
                您可以在这里添加栅格，参考首页及其他页面完成不同的布局
                <br/><a href="#" class="btn btn-primary m-t">打开主页</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block pageJs %}
{% endblock %}

{% block pageScript %}
    <script>
        $(document).ready(function () {


        });
    </script>
{% endblock %}